[submodule "src/external/zlib"]
	path = src/external/zlib
	url = ../zlib.git
[submodule "src/external/gtest"]
	path = src/external/gtest
	url = ../googletest.git
[submodule "src/external/mhook"]
	path = src/external/mhook
	url = ../mhook.git
[submodule "src/external/glew"]
	path = src/external/glew
	url = ../glew.git
