language: cpp

branches:
  only:
  - master

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.7
    - g++-4.7
    - libxxf86vm-dev
    - python-lxml
    - x11proto-gl-dev
    - libelf-dev

compiler:
    - gcc

env:
  global:
    - VERSION=0.1.$TRAVIS_BUILD_NUMBER
    - ANDROID_NDK="$(pwd)/android-ndk-r14"
    
before_install:
    - wget --timeout=120 https://dl.google.com/android/repository/android-ndk-r14-linux-x86_64.zip -O ndk.zip
    - unzip ndk.zip 1> /dev/null

script: cd tools && python set_version.py 0.1.$TRAVIS_JOB_NUMBER && cd .. && CXX=g++-4.7
  CC=gcc-4.7 python build.py 64-dist


after_success:
  # CREATE GIT TAG
  - git config --global user.email "builds@travis-ci.com"
  - git config --global user.name "Travis CI"
  - export GIT_TAG=travis-$VERSION
  - git tag $GIT_TAG -a -m "Generated tag from TravisCI build $VERSION"
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git push --quiet https://$GITHUBKEY@github.com/$TRAVIS_REPO_SLUG $GIT_TAG; fi

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: TQLKHXfgTXuqFOPrGZlRZm610uxzUmm1dKwUhOnimzWdM5g4UXWdQbTlXlzq4kUR6FLWkYRnXEyx939RRh/iCXhQJJ0OxrUymDRIJ146JPiSBjuFQO4HxxS7JmwgjnT8XzBkdWLNivWR+nwGrHlF0t/qPcoMpkHcnjVnl/d4zmk=
  file: build/64-dist/Release/debugler-$VERSION-Linux-withAndroid.deb
  on:
    repo: $TRAVIS_REPO_SLUG
    branch: master

